     <!-- FEATURE -->
     <section id="about">
          <div class="container">
               <div class="row">

                    <div class="col-md-3 col-sm-4">
                         <div class="feature-thumb">
                              <span>01</span>
                              <h3>To CELEBRATE </h3>
                              <p>The Unity in Diversity of our Nation and to maintain and strengthen the fabric of traditionally existing emotional bonds between the people of our Country</p>
                         </div>
                    </div>

                    <div class="col-md-3 col-sm-4">
                         <div class="feature-thumb">
                              <span>02</span>
                              <h3>To PROMOTE</h3>
                              <p> the spirit of national integration through a deep and structured engagement between all Indian States and Union Territories through a year-long planned engagement between States</p>
                         </div>
                    </div>

                    <div class="col-md-3 col-sm-4">
                         <div class="feature-thumb">
                              <span>03</span>
                              <h3>To SHOWCASE</h3>
                              <p>the rich heritage and culture, customs and traditions of either State for enabling people to understand and appreciate the diversity that is India, thus fostering a sense of common identity</p>
                         </div>
                    </div>
                    
                    <div class="col-md-3 col-sm-4">
                         <div class="feature-thumb">
                              <span>04</span>
                              <h3>To ESTABLISH & Create</h3>
                              <p>ong-term engagements and an environment which promotes learning between States by sharing best practices and experiences.</p>
                         </div>
                    </div>

               </div>
          </div>
     </section>
