     <!-- FEATURE -->
     <section id="about">
          <div class="container">
               <div class="row">

                    <div class="col-md-3 col-sm-4">
                         <div class="feature-thumb">
                              <span>01</span>
                              <h3>MOTTO </h3>
                              <p>NOT ME BUT YOU</p>
                         </div>
                    </div>

                    <div class="col-md-3 col-sm-4">
                         <div class="feature-thumb">
                              <span>02</span>
                              <h3>AIM</h3>
                              <p> To provide hands on experience to our volunteers in
                              delivering community service</p>
                         </div>
                    </div>

                    <div class="col-md-3 col-sm-4">
                         <div class="feature-thumb">
                              <span>03</span>
                              <h3>FUNCTIONING</h3>
                              <p>The NSS unit of IIIT Raichur started functioning in the founding year of the institiue, i.e. 2019</p>
                         </div>
                    </div>

               </div>
          </div>
     </section>
