     <!-- FOOTER -->
     <footer id="footer">
          <div class="container">
               <div class="row">

                    <div class="col-md-4 col-sm-6">
                         <div class="footer-info">
                              <div class="section-title">
                                   <h2>Address</h2>
                              </div>
                              <address>
                                   <p>Acad A-204 IIIT Raichur Cell<br>IIT Hyderabad</p>
                              </address>

                              <ul class="social-icon">
                                   <li><a href="https://m.facebook.com/profile.php?id=104850414373870&ref=content_filter" class="fa fa-facebook-square" attr="facebook icon"></a></li>
                                   <li><a href="https://twitter.com/EIiitr?s=08" class="fa fa-twitter"></a></li>
                                   <li><a href="https://www.instagram.com/ebsb_iiitr" class="fa fa-instagram"></a></li>
                              </ul>

                              <div class="copyright-text"> 
                                   <p>Copyright &copy; 2020 EBSB IIIT Raichur</p>
                                   
                                   <p>Design: <a href="https://iiitr.ac.in/webteam.html">Web Team IIIT Raichur</a></p>
                              </div>
                         </div>
                    </div>

                    <div class="col-md-4 col-sm-6">
                         <div class="footer-info">
                              <div class="section-title">
                                   <h2>Contact Info</h2>
                              </div>
                              <address>
                                   <p>7217628148, 8919239558</p>
                                   <p><a href="mailto:ebsb@iiitr.ac.in">ebsb@iiitr.ac.in</a></p>
                              </address>

                              <div class="footer_menu">
                                   <h2>Quick Links</h2>
                                   <ul>
									    <li><a href="http://ekbharat.gov.in/">EBSB Website</a></li>
                                        <li><a href="https://iiitr.ac.in">IIIT Raichur Website</a></li>
                                        <li><a href="https://iith.ac.in">IIT Hyderabad Website</a></li>
                                        <li><a href="https://iiitr.ac.in/students.html">Students</a></li>
                                   </ul>
                              </div>
                         </div>
                    </div>

                    <div class="col-md-4 col-sm-12">
                         <div class="footer-info newsletter-form">
                              <div class="section-title">
                                   <h2>Newsletter Signup</h2>
                              </div>
                              <div>
                                   <div class="form-group">
                                        <form action="https://formspree.io/mayppgvo" method="post">
                                             <input type="email" class="form-control" placeholder="Enter your email" name="email" id="email" required="">
                                             <input type="submit" class="form-control" name="submit" id="form-submit" value="Send Us">
                                        </form>
                                        <span><sup>*</sup> Please note - we do not spam your email.</span>
                                   </div>
                              </div>
                         </div>
                    </div>
                    
               </div>
          </div>
     </footer>


     <!-- SCRIPTS -->
     <script src="assets/js/jquery.js"></script>
     <script src="assets/js/bootstrap.min.js"></script>
     <script src="assets/js/owl.carousel.min.js"></script>
     <script src="assets/js/smoothscroll.js"></script>
     <script src="assets/js/custom.js"></script>

