     <!-- HOME -->
     <section id="home">
          <div class="row">

                    <div class="owl-carousel owl-theme home-slider">
                         <div class="item item-first">
                              <div class="caption">
                                   <div class="container">
                                        <div class="col-md-6 col-sm-12">
                                             <h1>EBSB Exchange Program</h1>
                                             <h3>IIIT Raichur students with IIIT Sonepat Students</h3>
                                             <a href="#" class="section-btn btn btn-default smoothScroll">More</a>
                                        </div>
                                   </div>
                              </div>
                         </div>

                         <div class="item item-second">
                              <div class="caption">
                                   <div class="container">
                                        <div class="col-md-6 col-sm-12">
                                             <h1>Traditional Dress and Festival Celebration</h1>
                                             <h3>Celebration</h3>
                                             <a href="#" class="section-btn btn btn-default smoothScroll">More</a>
                                        </div>
                                   </div>
                              </div>
                         </div>

                         <div class="item item-third">
                              <div class="caption">
                                   <div class="container">
                                        <div class="col-md-6 col-sm-12">
                                             <h1>Hyderabad City Tour</h1>
                                             <h3>The team witnessed the mesmerizing beauty of the Char Minar and the Hyderabad special market of ladies ornament & pearls.</h3>
                                             <a href="#" class="section-btn btn btn-default smoothScroll">More</a>
                                        </div>
                                   </div>
                              </div>
                         </div>
                    </div>
          </div>
     </section>

