     <!-- TEAM -->
     <section id="team">
          <div class="container">
               <div class="row">

                    <div class="col-md-12 col-sm-12">
                         <div class="section-title">
                              <h2>Coordinators <small>The leaders who makes all this possible</small></h2>
                         </div>
                    </div>

                    <div class="col-md-3 col-sm-6">
                         <div class="team-thumb">
                              <div class="team-image">
                                   <img src="images/team/manav.jpeg" class="img-responsive" alt="">
                              </div>
                              <div class="team-info">
                                   <h3>Manav</h3>
                                   <span>General Coordinator</span>
                              </div>
                              <ul class="social-icon">
                                   <li><a href="#" class="fa fa-facebook-square" attr="facebook icon"></a></li>
                                   <li><a href="#" class="fa fa-twitter"></a></li>
                                   <li><a href="#" class="fa fa-instagram"></a></li>
                              </ul>
                         </div>
                    </div>

                    <div class="col-md-3 col-sm-6">
                         <div class="team-thumb">
                              <div class="team-image">
                                   <img src="images/team/reethu.jpeg" class="img-responsive" alt="">
                              </div>
                              <div class="team-info">
                                   <h3>Reethu</h3>
                                   <span>General Coordinator</span>
                              </div>
                              <ul class="social-icon">
                                   <li><a href="#" class="fa fa-google"></a></li>
                                   <li><a href="#" class="fa fa-instagram"></a></li>
                              </ul>
                         </div>
                    </div>

                    <div class="col-md-3 col-sm-6">
                         <div class="team-thumb">
                              <div class="team-image">
                                   <img src="images/team/vibhanshu.jpeg" class="img-responsive" alt="">
                              </div>
                              <div class="team-info">
                                   <h3>Vibhanshu Jain</h3>
                                   <span>Web Coordinator</span>
                              </div>
                              <ul class="social-icon">
                                   <li><a href="https://vibhanshujainiiitr.github.io/" class="fa fa-github"></a></li>
                                   <li><a href="mailto:cs19b1027@iiitr.ac.in" class="fa fa-envelope-o"></a></li>
                                   <li><a href="https://www.linkedin.com/in/vibhanshu-jain-02a4b01a0" class="fa fa-linkedin"></a></li>
                              </ul>
                         </div>
                    </div>

               </div>
          </div>
     </section>

